<div class="card horizontal" *ngIf="movie">
    <div class="card-image">
        <img s [src]="movie.Poster == 'N/A' ? 'content/images/default-placeholder.png' : movie.Poster "
             onerror="this.src='content/images/default-placeholder.png'"/>
    </div>
    <div class="card-stacked large">
        <div class="card-content">
            <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Details</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s7">
                                <label for="title" class="active">Title</label>
                                <span id="title">{{movie.Title}}</span>
                            </div>
                            <div class="col s5">
                                <label for="year" class="active">Released</label>
                                <span id="year">{{movie.Year}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Plot Summary</div>
                    <div class="collapsible-body">
                        <br/>
                        <div class="center-align">
                            <div class="chip" *ngFor="let genre of movie.Genre.split(',')">
                                {{genre}}
                            </div>
                        </div>
                        <div class="row">
                            <p>{{movie.Plot}}</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Ratings</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                <label for="metascore" class="active">MetaScore</label>
                                <span id="metascore">{{movie.Metascore}}</span>
                                <label for="imdbRating" class="active">IMDB Rating</label>
                                <span id="imdbRating">{{movie.ImdbRating}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>